@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', system-ui, sans-serif;
  --font-manrope: 'Manrope', system-ui, sans-serif;
  --font-EnglishTowney: 'English Towney', sans-serif;
}

@font-face {
  font-family: 'English Towney';
  src: url('/src/assets/font/EnglishTowne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
